body {
	background-color: #f4f7ed;
}

.container{
	margin-top:80px;
}

.hd {
    background: #a5bbb6;
    color: #fff;
    line-height: 60px;
    height: 60px;
    padding: 0 30px;
}

.hd .title {
    display: block;
    font-size: 20px;
    line-height: 20px;
    padding: 23px 0 17px;
	text-align:center;
}

.form-list {
	padding: 30px;
	background-color: #fff;
}
#guid {
	display:none;
}

.btn {
	width:180px;
	display: block;
	background-color: #64b52f;
	margin: 40px auto 0px;
}